@import "src/app/app-common/less/vars";

.avatar,
.login,
.type,
.url {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  margin-top: 15px;
  border: 1px solid @darkGray;
  width: 300px;
  padding: 10px;
}

span {
  width: 100px;
}

.content {
  margin-left: 10px;
}

img {
  width: 64px;
  height: 64px;
}
