@import "src/app/app-common/less/vars";

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
}

.titles {
  height: 30px;
  font-weight: 600;
}

td {
  text-align: center;
}

.repo-area {
  height: 28px;
}

tr:nth-child(even) {
  td {
    background-color: @darkGray;
  }
}

th.name,
th.language,
th.stars,
th.owner {
  width: 25%;
}

